[Desktop Entry]

Type=Application
Name=Nyan Cat
Comment=Display Nyan Cat on your console
Exec=/bin/sh -c +i -m "./nyancat -W 52 -H 23 & read line; kill %1"
Icon=nyancat
Terminal=true
Categories=applications;
